@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Login</title>
</head>
<body>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Se produjo un error al procesar su solicitud.</h2>
    
    
    <p>
        Es posible que el link al cual usted desea acceder no sea correcto, por favor verifique dicho link.
    </p>
</body>
</html>
